<template>
  <el-row class="tac">
    <el-col :style="{minHeight:'100%'}" class="clearfix">
      <el-menu :default-active="activeIndex" class="el-menu-nav" theme="dark">
        <div class="nav-logo">
          <img src="../../assets/logo.png" height="40">
        </div>
        <el-menu-item index="1" @click="goView('/')">
          <i class="el-icon-menu"></i>首页</el-menu-item>
        <el-submenu index="2">
          <template slot="title">
            <i class="el-icon-menu"></i>订单</template>
          <el-menu-item index="2-1" @click="goView('/order/orders')">预约单一览</el-menu-item>
          <el-menu-item index="2-4" @click="goView('/order/search')">预约单查询</el-menu-item>
          <el-menu-item index="2-2" @click="goView('/order/orderTotals')">预约单汇总</el-menu-item>
          <el-menu-item index="2-3" @click="goView('/order/reOrders')">重做单一览</el-menu-item>
        </el-submenu>
        <el-submenu index="3">
          <template slot="title">
            <i class="el-icon-menu"></i>用户</template>
          <el-menu-item index="3-1" @click="goView('/user/customers')">普通用户一览</el-menu-item>
          <el-menu-item index="3-2" @click="goView('/user/bokers')">合作人/代理人一览</el-menu-item>
          <el-menu-item index="3-3" @click="goView('/user/bokerReviews')">合作人/代理人审核</el-menu-item>
        </el-submenu>
        <el-submenu index="4">
          <template slot="title">
            <i class="el-icon-menu"></i>基础数据</template>
          <el-menu-item index="4-1" @click="goView('/news/list')">资讯一览</el-menu-item>
          <el-menu-item index="4-2" @click="goView('/factory/list')">工厂一览</el-menu-item>
          <el-menu-item index="4-3" @click="goView('/labels/list')">用户标签一览</el-menu-item>
        </el-submenu>
        </el-submenu>
        <el-submenu index="5">
          <template slot="title">
            <i class="el-icon-menu"></i>子账号</template>
          <el-menu-item index="5-1" @click="goView('/index2')">子账号一览</el-menu-item>
        </el-submenu>
        <el-submenu index="10">
          <template slot="title">
            <i class="el-icon-setting"></i>系统设置</template>
          <el-menu-item index="10-1" @click="goView('/system/changepwd')">修改密码</el-menu-item>
        </el-submenu>
      </el-menu>
    </el-col>
  </el-row>
</template>
<script>
export default {
  name: 'nav-menu',
  data() {
    return {
      activeIndex: '1-1'
    }
  },
  watch: {
    $route: function () {
    }
  },
  methods: {
    goView: function (path) {
      this.$router.push({
        path: path
      })
    }
  },
  mounted: function () {
    // this.setActiveIndex()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.el-menu-nav {
  min-height: 100%;
}

.nav-logo {
  text-align: center;
  padding: 5px 0;
  border-bottom: 1px solid #a0a0a0;
}
</style>
