<template>
	<div class="page">
		<el-form ref="form" :model="form" :rules="rules" label-width="80px" class="form">
			<el-form-item label="编号" prop='no'>
				<el-input v-model="form.no" class="form-input"></el-input>
			</el-form-item>
			<el-form-item label="订单状态">
				<!--checkbox 绑定的值必须为数组  -->
				<el-checkbox-group v-model="form.status">
					<el-checkbox label="状态1"></el-checkbox>
					<el-checkbox label="状态2"></el-checkbox>
					<el-checkbox label="状态3"></el-checkbox>
					<el-checkbox label="状态4"></el-checkbox>
					<el-checkbox label="状态5"></el-checkbox>
				</el-checkbox-group>
			</el-form-item>
			<el-form-item label="客户">
				<el-input v-model="form.customer" class="form-input"></el-input>
			</el-form-item>
			<el-form-item label="联系方式">
				<el-input v-model="form.mobile" class="form-input"></el-input>
			</el-form-item>
			<el-form-item label="量体地址">
				<el-select v-model="form.province" placeholder="省" class="form-select">
					<el-option label="区域一" value="shanghai"></el-option>
					<el-option label="区域二" value="beijing"></el-option>
				</el-select>
				<el-select v-model="form.city" placeholder="市" class="form-select">
					<el-option label="区域一" value="shanghai"></el-option>
					<el-option label="区域二" value="beijing"></el-option>
				</el-select>
				<el-input v-model="form.address" placeholder="详细地址" class="form-input-large"></el-input>
			</el-form-item>
			<el-form-item label="商品">
				<el-select v-model="form.item" placeholder="省" class="form-select">
					<el-option label="商品一" value="shanghai"></el-option>
					<el-option label="商品二" value="beijing"></el-option>
				</el-select>
			</el-form-item>
			<el-form-item label="预约日期">
				<el-date-picker type="date" placeholder="起始日期" v-model="form.orderDate1" class="form-date"></el-date-picker>
				-
				<el-date-picker type="date" placeholder="截至日期" v-model="form.orderDate2" class="form-date"></el-date-picker>
			</el-form-item>
			<el-form-item label="合伙人">
				<el-select v-model="form.boker1" placeholder="省" class="form-select">
					<el-option label="合伙人一" value="shanghai"></el-option>
					<el-option label="合伙人二" value="beijing"></el-option>
				</el-select>
			</el-form-item>
			<el-form-item label="代理人">
				<el-select v-model="form.boker2" placeholder="省" class="form-select">
					<el-option label="代理人一" value="shanghai"></el-option>
					<el-option label="代理人二" value="beijing"></el-option>
				</el-select>
			</el-form-item>
			<el-form-item label="量体日期">
				<el-date-picker type="date" placeholder="起始日期" v-model="form.orderDate3" class="form-date"></el-date-picker>
				-
				<el-date-picker type="date" placeholder="截至日期" v-model="form.orderDate4" class="form-date"></el-date-picker>
			</el-form-item>
			<el-form-item label="支付日期">
				<el-date-picker type="date" placeholder="起始日期" v-model="form.orderDate5" class="form-date"></el-date-picker>
				-
				<el-date-picker type="date" placeholder="截至日期" v-model="form.orderDate6" class="form-date"></el-date-picker>
			</el-form-item>
			<el-form-item>
				<el-button type="primary" @click="onSubmit">去搜索</el-button>
				<el-button @click="resetForm('form')">清空条件</el-button>
			</el-form-item>
		</el-form>
	</div>
</template>

<script>
export default {
	name: "detail",
	data() {
		// todo   form中的字段待确认
		return {
			form: {
				no: '',
				status: [],
				customer: '',
				mobile: '',
				province: '',
				city: '',
				address: '',
				item: '',
				orderDate1: '',
				orderDate2: '',
				orderDate3: '',
				orderDate4: '',
				orderDate5: '',
				orderDate6: '',
				boker1: '',
				boker2: ''
			}
		}
	},
	computed: {

	},
	activated: function () {
		const breadcrumbs = [{ text: "预约单", url: "/order/orders" }, { text: "预约单查询", url: "" }];
		this.$store.commit('updateBreadcrumb', breadcrumbs)
	},
	methods: {
		fetchData() {
			// 请求entity数据  合伙人 代理人 商品等
			// Lucifer.http.request(['get', 'biz/agents/' + this.$route.params.id], {}, function (data) {
			// 	this.modelData = data.agent
			// }.bind(this))
		},
		onSubmit() {
			// update vuex中的数据 然后调转到list页面
		},
		cancel() {
			this.$router.push({
				path: '/agents/index'
			})
		},
		resetForm(formName) {
			console.log('reset....')
			this.$refs[formName].resetFields();
		}
	}
}

</script>

<style>
.form {
	max-width: 750px;
}

.form-select {
	width: 120px;
}

.form-input {
	width: 200px;
}

.form-input-large {
	width: 300px;
}

.form-date {
	width: 150px;
}
</style>
