<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {}
  },
  created: function () {
    // 每次进入app check 用户是否登录
    // const _this = this;
    // const req = Lucifer.http.getUser()
    // req.then(function (res) {
    //   if (res.data.status == 200) {
    //     _this.$store.commit('login',res.data.body.user)
    //   } else {
    //     _this.$router.push({
    //       path: '/login'
    //     })
    //   }
    // }).catch(function (err) {
    //   this.$router.push({
    //     path: '/login'
    //   })
    // }.bind(this))
  },
  mounted: function () {

  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
}
</style>
