<template>
	<div class="login-main">
		<div class="login-from">
			<el-form :model="loginForm" :rules="rules" ref="loginForm" label-width="100px" class="demo-ruleForm" label-position="top">
				<el-form-item label="用户名" prop="username">
					<el-input v-model="loginForm.username"></el-input>
				</el-form-item>
				<el-form-item label="密码" prop="password">
					<el-input type="password" v-model="loginForm.password"></el-input>
				</el-form-item>
	
				<el-form-item label="记住我" prop="remember">
					<el-switch on-text="" off-text="" v-model="loginForm.remember"></el-switch>
				</el-form-item>
	
				<el-form-item class="login-btn">
					<el-button type="primary" @click="submitForm('loginForm')">登录</el-button>
				</el-form-item>
			</el-form>
		</div>
		<svg jsname="BUfzDd" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 810" preserveAspectRatio="xMinYMin slice" aria-hidden="true">
			<path fill="#efefee" d="M592.66 0c-15 64.092-30.7 125.285-46.598 183.777C634.056 325.56 748.348 550.932 819.642 809.5h419.672C1184.518 593.727 1083.124 290.064 902.637 0H592.66z"></path>
			<path fill="#f6f6f6" d="M545.962 183.777c-53.796 196.576-111.592 361.156-163.49 490.74 11.7 44.494 22.8 89.49 33.1 134.883h404.07c-71.294-258.468-185.586-483.84-273.68-625.623z"></path>
			<path fill="#f7f7f7" d="M153.89 0c74.094 180.678 161.088 417.448 228.483 674.517C449.67 506.337 527.063 279.465 592.56 0H153.89z"></path>
			<path fill="#fbfbfc" d="M153.89 0H0v809.5h415.57C345.477 500.938 240.884 211.874 153.89 0z"></path>
			<path fill="#ebebec" d="M1144.22 501.538c52.596-134.583 101.492-290.964 134.09-463.343 1.2-6.1 2.3-12.298 3.4-18.497 0-.2.1-.4.1-.6 1.1-6.3 2.3-12.7 3.4-19.098H902.536c105.293 169.28 183.688 343.158 241.684 501.638v-.1z"></path>
			<path fill="#e1e1e1" d="M1285.31 0c-2.2 12.798-4.5 25.597-6.9 38.195C1321.507 86.39 1379.603 158.98 1440 257.168V0h-154.69z"></path>
			<path fill="#e7e7e7" d="M1278.31,38.196C1245.81,209.874 1197.22,365.556 1144.82,499.838L1144.82,503.638C1185.82,615.924 1216.41,720.211 1239.11,809.6L1439.7,810L1439.7,256.768C1379.4,158.78 1321.41,86.288 1278.31,38.195L1278.31,38.196z"></path>
		</svg>
	</div>
</template>

<script>
export default {
	name: "Login",
	data() {
		return {
			loginForm: {
				username: '',
				password: '',
				remember: false,
			},
			rules: {
				username: [
					{ required: true, message: '请输入用户名', trigger: 'blur' }
				],
				password: [
					{ required: true, message: '输入密码', trigger: 'blur' }
				]
			}
		}
	},
	methods: {
		submitForm(formName) {
			var _this = this
			this.$refs[formName].validate((valid) => {
				if (valid) {
					let user = {name:this.loginForm.username};
					_this.$store.commit('login',user)
					// const req = Lucifer.http.login(Lucifer.api.LOGIN, { "name": this.loginForm.username, "pwd": this.loginForm.password })
					// req.then(function (res) {
					// 	// console.log(data)
					// 	if (res.data && res.data.status == 200) {
					// 		_this.$store.commit('login',res.data.body.user)
					// 		localStorage.setItem('luc-admin-token',res.data.body.token)
							_this.$router.push({
								path: '/'
							})
					// 	}else{
					// 		_this.$notify.error({
					// 			title: 'error',
					// 			message: res.data.err.message
					// 		});
					// 	}
					// }).catch(function (err) {
					// 	_this.$notify.error({
					// 			title: 'error',
					// 			message: "api error"
					// 	});
					// }.bind(this))
				} else {
					this.$notify.error({
						title: 'error',
						message: '格式不正确'
					});
					return false;
				}
			});
		},
	}

}
</script>

<style>
.login-main {
	height: 100%;
	overflow: hidden;
}

.login-from {
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -150px;
	width: 350px;
	height: 330px;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 20px 30px;
	box-shadow: 0 0 2px 3px #e8e8e8;
}

.login-btn {
	text-align: center;
}

.login-btn button {
	width: 120px;
}
</style>
