<template>
	<div class="page">
	 nav2 ccontentontent
	</div>
</template>

<script>
export default {
	name: "detail",
	data() {
		return {
		}
	},
	computed: {

	},
	activated: function () {
		const breadcrumbs = [{ text: "合作人/代理人审核", url: "/user/bokerReviews" }, { text: "审核详情", url: "" }];
		this.$store.commit('updateBreadcrumb', breadcrumbs)
	},
	methods: {
		fetchData() {
			// Lucifer.http.request(['get', 'biz/agents/' + this.$route.params.id], {}, function (data) {
			// 	this.modelData = data.agent
			// }.bind(this))
		},
		onSubmit() {
			// console.log(this.modelData);
			Lucifer.http.request(Lucifer.api.UPDATE_AGENTS, this.modelData, function (data) {
				this.$notify({
					title: '成功',
					message: '修改成功',
					type: 'success'
				});
			}.bind(this))
		},
		cancel() {
			this.$router.push({
				path: '/agents/index'
			})
		},
	}
}

</script>

<style>
.form {
	max-width: 750px;
}

.qrcode-img {
	max-width: 250px;
}

.img-list {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.item-img {
	max-width: 250px;
	margin: 10px;
}
</style>
