<template>
	<div class="page">
		<div class="flex search-box">
			<el-form :inline="true" :model="searchModel" class="demo-form-inline">
				<el-form-item>
					<el-select v-model="searchModel.level" placeholder="代理商等级" clearable>
						<el-option label="一级代理商" value="1"></el-option>
						<el-option label="二级代理商" value="2"></el-option>
						<el-option label="三级代理商" value="3"></el-option>
					</el-select>
				</el-form-item>
				<el-form-item>
					<el-input v-model="searchModel.name" placeholder="代理商名字"></el-input>
				</el-form-item>
				<el-form-item>
					<el-button type="primary" @click="handleSearch">查询</el-button>
				</el-form-item>
			</el-form>
		</div>
		<el-table :data="tableData" stripe style="width: 100%">
			<el-table-column prop="name" label="姓名" width="180">
			</el-table-column>
			<el-table-column prop="address" label="地址" width="250">
			</el-table-column>
			<el-table-column prop="date" label="时间" >
			</el-table-column>
			<el-table-column fixed="right" label="操作" width="200">
				<template scope="scope">
					<el-button @click="handleClick(scope)" type="text" size="small">查看</el-button>
					<el-button @click="deleteItem(scope)" type="text" size="small">删除</el-button>
					<el-button v-if="scope.row.status===1" @click="toPdf(scope.row)" type="text" size="small">打印PDF</el-button>
				</template>
			</el-table-column>
		</el-table>
		<el-pagination @current-change="handleCurrentChange" :current-page=1 :page-size="20" layout="total, prev, pager, next" :total="dataCount" class="flex pagination">
		</el-pagination>
	</div>
</template>

<script>
export default {
	name: "list",
	created() {
		this.fetchData()
	},
	activated() {
		const breadcrumbs = [{ text: "普通用户", url: "" }];
		this.$store.commit('updateBreadcrumb', breadcrumbs)
	},
	data() {
		return {
			tableData: [],
			dataCount: 0,
			searchModel: {
				level: '',
				name: '',
				pageNo: 0,
				pageSize: 20
			}
		}
	},
	methods: {
		handleClick(scope) {
			if (scope.row._id) {
				const path = 'detail/' + scope.row._id;
				this.$router.push({
					path: path
				})
			}

		},
		deleteItem(scope) {
			console.log(scope.row._id)
			this.$confirm('此操作将永久删除该记录, 是否继续?', '提示', {
				confirmButtonText: '确定',
				cancelButtonText: '取消',
				type: 'warning'
			}).then(() => {
				// Lucifer.http.request(['delete', 'biz/agents/' + scope.row._id], {}, function (data) {
				// 	this.tableData.splice(scope.$index, 1);
				// 	this.$message({
				// 		type: 'success',
				// 		message: '删除成功!'
				// 	});
				// }.bind(this))

			}).catch(() => {
				this.$message({
					type: 'info',
					message: '已取消删除'
				});
			});

		},
		handleCurrentChange(val) {
			this.searchModel.pageNo = +val - 1;
			this.fetchData();
		},
		handleSearch: function () {
			this.searchModel.pageNo = 0;
			this.fetchData();
		},
		fetchData: function () {
			// Lucifer.http.request(Lucifer.api.AGENTS, this.searchModel, function (data) {
			// 	this.tableData = data.agents
			// 	this.dataCount = data.count
			// }.bind(this))
			this.tableData = [{
            date: '2016-05-02',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1518 弄'
          }, {
            date: '2016-05-04',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1517 弄'
          }, {
            date: '2016-05-01',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1519 弄'
          }, {
            date: '2016-05-03',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1516 弄'
          }]
		},
		toPdf(item) {

		}
	},
}

</script>

<style scoped>
.page {
	padding: 20px;
}
</style>
