<template>
	<div class="page">
		<el-form ref="changpwd-form" label-position="left" label-width="80px" :model="form" class="cpd-form" :rules="rules">
			<el-form-item label="旧密码" prop="oldpwd">
				<el-input v-model="form.oldpwd"></el-input>
			</el-form-item>
			<el-form-item label="新密码" prop="newpwd">
				<el-input v-model="form.newpwd"></el-input>
			</el-form-item>
			<el-form-item label="确认密码" prop="checkPass">
				<el-input v-model="form.checkPass"></el-input>
			</el-form-item>
			<el-form-item>
				<el-button type="primary" @click="submitForm('changpwd-form')">立即创建</el-button>
			</el-form-item>
		</el-form>
	</div>
</template>

<script>
export default {
	name: "page3",
	created: function () {
		const breadcrumbs = [{ text: "系统设置", url: "" }, { text: "修改密码", url: "" }];
		this.$store.commit('updateBreadcrumb', breadcrumbs)
	},
	data() {
		var validatePass2 = (rule, value, callback) => {
			if (value === '') {
				callback(new Error('请再次输入密码'));
			} else if (value !== this.form.newpwd) {
				callback(new Error('两次输入密码不一致!'));
			} else {
				callback();
			}
		};
		return {
			form: {
				oldpwd: '',
				newpwd: '',
				checkPass: '',
			},
			rules: {
				oldpwd: [
					{ required: true, message: '请输入旧密码', trigger: 'blur' },
				],
				newpwd: [
					{ required: true, message: '请输入新密码', trigger: 'blur' },
				],
				checkPass: [
					{ validator: validatePass2, trigger: 'blur' }
				],
			}
		}
	},
	methods: {
		submitForm(formName) {
			this.$refs[formName].validate((valid) => {
				if (valid) {
					this.changePwd();
				} else {
					console.log('error submit!!');
					return false;
				}
			});
		},
		changePwd() {
			let obj = {
				name: this.$store.state.user.username,
				newpwd:this.form.newpwd,
				oldpwd:this.form.oldpwd,
			}
			console.log(obj)
			Lucifer.http.request(Lucifer.api.CHANGE_PWD, obj, function (data) {
					this.$notify({
						title: '成功',
						message: '修改密码成功',
						type: 'success'
					});
					this.form.oldpwd="";
					this.form.newpwd="";
					this.form.newpwd2="";
			}.bind(this))
		}
	}
}
</script>

<style scoped>
.cpd-form {
	width: 500px;
}
</style>
