<template>
	<div class="page">
		page3
	</div>		
</template>

<script>
	export default {
		name:"page3",
		created: function () {
			const breadcrumbs = [{text:"系统设置",url:""}];
			this.$store.commit('updateBreadcrumb',breadcrumbs)
		},
		data(){
			return {}
		}
	}
</script>

<style>
	
</style>
